@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  
  /* QClay Colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-light: #e4e4e4;
  --color-text-gray: #6a6a6a;
  --color-accent-light: #f3f3f3;
  --color-subtle-border: rgba(0, 0, 0, 0.08);

  /* Fonts */
  --font-inter: "Inter", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-black: var(--color-black);
  --color-white: var(--color-white);
  --color-gray-light: var(--color-gray-light);
  --color-text-gray: var(--color-text-gray);
  --color-accent-light: var(--color-accent-light);
  --color-subtle-border: var(--color-subtle-border);

  --font-inter: var(--font-inter);
  
  --tracking-wide: 0.2em;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  text-wrap: balance;
}
